@charset "utf-8";
@import "font-niconne";
* {
    padding: 0px;
    margin: 0px;
}

body {
    font: 1.0rem/1.5 "CrimsonRoman", georgia, times, serif;
    margin:3rem 5rem 0;
    background-color:#fff;
}

h1+p::first-letter {
    font-size: 4rem;
    line-height: 3rem;
    float:left;
}

h2 {
    font-size:18px;
    line-height:24px;
    font-weight:bold;
    text-align:center;
    font-variant:small-caps;
    word-spacing:.5em;
    letter-spacing:.6em;
}

p {
    line-height: 1.75rem;
}

blockquote {
    //margin-left: 10%;
    padding-left: 2rem;
    border-left: .25rem solid #00cc11;
}