@charset "utf-8";


html, body {
    vertical-align: baseline;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.blod(){
    font-weight: bold;
}

h1 {
    font-size: 3em;
    .blod()
}
h2 {
    font-size: 2.5em;
    .blod()
}
h3 {
    font-size: 2.0em;
    .blod()
}
h4 {
    font-size: 1.5em;
    .blod()
}
h5 {
    font-size: 1.25em;
    .blod()
}

.code {
    font-family: cursive;
}

.wrapper {
    margin: 2em auto;
    max-width: 1000px;
}


.box-raduis(@style) {
    -wekit-border-radius : @style;
    -moz-border-radius : @style;
    -ms-border-radius : @style;
    -o-border-radius : @style;
    border-radius : @style;
}

.annotation-font(@fontSize, @textAlign, @fontStyle) {
    font-size: @fontSize;
    text-align: @textAlign;
    font-style: @fontStyle
}

.box {
    .box-raduis(5px);
    margin: 0.5em 0;
    padding: 1em;
    border: 2px solid #373737;
}

.overflow-hidden {
    overflow: hidden;
}

.clearfix {
    display: block;
    zoom: 1;

    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
