<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>复杂页面布局</title>
    <link href="../../release/layout/complex.css" rel="stylesheet"/>
</head>
<body>
    <div class="main-wrapper">
        <header><h1>Full-width content</h1></header>
        <nav>Navigation menus go here</nav>
        <section><img src="../../images/181900_1000x500.png"></section>
        <section class="three-colum clearfix">
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
        </section>
        <section class="four-colum clearfix">
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>
            <article><div class="inner">一个页面中会出现多个相同的标签，选择的时候就要用上下文选择符来区分它们了。我想通过下面的例子，告诉你怎么给标记中添加最少的ID和类</div></article>

        </section>
        <footer>
            © 2015. All Rights Reserved.
            Theme based on LavaWong by @lavawong. Modified by LavaWong
        </footer>
    </div>
</body>
</html>